<!DOCTYPE HTML>
<html>
  <head>
    <title>Data Frame Viewer</title>
  </head>
  <body>
    <form method="POST" action="">
      <h2> Currently viewing: {{file_name}} </h2>
      <h2> Row no: {{row_no}} </h2>
      <h2> Value: {{desc_text}} </h2>
      <h2> Type: {{type}} </h2>

      {% if first %}
      <input type="submit" name="Previous" value="Previous">
      {% endif %}
      <input type="submit" name="Correct" value="Correct">
      <input type="submit" name="Incorrect" value="Incorrect"> 
      <input type="submit" name="Next" value="Next">
      <input type="submit" name="Write" value="Write to csv">

    </form>
    {% if name %}
      <h1>Hello, {{name}}!</h1>
    {% endif %}
  </body>
</html>
